/* general styles */
:root {
  box-sizing: border-box;
  --font: 'Poppins', sans-serif;
  --darkColor: #333333;
  --shadow: 0px 10px 20px rgba(68, 85, 113, 0.0418648);
  --mainWhite: #fff;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  color: var(--darkColor);
}

a {
  text-decoration: none;
  color: var(--darkColor);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* styling for header section */
header,
.header__navigation,
.header__nav,
.header__end,
.header__end-cta {
  display: flex;
}

header {
  margin: 35px auto;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}

.header__navigation {
  margin-left: 10%;
}
@media (min-width: 1200px) and(max-width: 1248px) {
  .header__navigation {
    margin-left: 5%;
  }
}
.header__navigation-link,
.mod {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  color: var(--darkColor);
}

.header__navigation-link::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 120%;
  width: 0;
  height: 3px;
  border-radius: 10px;
  background: #fd749b;
  transition: all 0.2s ease-in;
}

.header__navigation-link:hover::after {
  width: 23px;
}

.header__navigation li ~ li {
  margin-left: 70px;
}
@media (max-width: 1200px) {
  .header__navigation li ~ li {
    margin-left: 35px;
  }
  .header__navigation {
    margin-left: 0%;
  }
}

.header__menu {
  position: relative;
  align-self: center;
  padding: 0 14px;
}

.mod {
  position: relative;
}

.mod::after {
  content: '';
  position: absolute;
  left: 102%;
  top: 45%;
  width: 0;
  height: 0;
  border-top: 0.4em solid var(--darkColor);
  border-left: 0.4em transparent solid;
  border-right: 0.4em transparent solid;
}

.header__menu:hover .mod::after {
  border-bottom: 0.4em solid var(--darkColor);
  border-top: none;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
}

#header__menu-dropdown {
  position: absolute;
  top: 103%;
  box-shadow: var(--shadow);
  width: 100%;
  display: none;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
}

.header__menu:hover #header__menu-dropdown {
  display: block;
}

#header__menu-dropdown li a {
  padding: 10px 12px;
  display: block;
  transition: all 0.1s ease-in;
  color: var(--darkColor);
}

#header__menu-dropdown li a:hover {
  color: white;
  background: linear-gradient(179.37deg, #fd749b -13.56%, #281ac8 158.3%);
}

.header__end-cta {
  background: linear-gradient(179.37deg, #fd749b -13.56%, #281ac8 158.3%);
  width: 157px;
  height: 54px;
  margin-left: 31px;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 100px;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

.header__end-cta:hover {
  transform: translateY(-5px);
}
@media (max-width: 900px) {
  .header__end-cta {
    padding: 10px;
  }
}

/* HERO SECTION */
.hero {
  width: 100%;
  height: 700px;
  background: linear-gradient(177.32deg, #fd749b -12.41%, #281ac8 88.56%);
  display: flex;
  position: relative;
  z-index: -1;
}

.wrap__hero {
  width: 100%;
  justify-content: space-evenly;
  margin: 98px auto;
  display: flex;
}
.path {
  position: absolute;
  bottom: -10vh;
  width: 100%;
  z-index: -1;
}

.hero-left p {
  color: var(--mainWhite);
}

.hero-left > p:nth-child(1) {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.hero-left > p:nth-child(2) {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.hero-left > p:nth-child(3) {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 27px;
}

.hero-right {
  width: 549px;
  height: 405px;
  background-image: url('../coin-base-img/IMG.svg');
}

/* END OF HERO SECTION */

/* CEO QUOTE SECTION */
.ceo-quote {
  text-align: center;
  position: relative;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.ceo-quote p q {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

.ceo-quote p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: var(--darkColor);
  margin-top: 0.7rem;
}
@media (max-width: 1196px) {
  .hero-right {
    width: 449px;
    height: 305px;
  }
  .wrap__hero {
    margin-top: 50px;
  }
  .hero-left > p:nth-child(3) {
    font-size: 1.1rem;
    line-height: 25px;
  }
  .hero-left > p:nth-child(2) {
    font-size: 2.2rem;
    line-height: 50px;
    margin: 0;
  }
  .hero {
    justify-content: space-around;
    height: 527px;
  }
  .path {
    bottom: -5vh;
  }
  .ceo-quote {
    text-align: center;
    position: relative;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* END OF CEO QUOTE SECTION */
/* ABOUT COINBASE COLUMN*/
.row {
  display: flex;
  justify-content: center;
}
.card_1 {
  padding: 4em;
  margin-right: 1em;
  border-radius: 1em;
  border: 0.1em solid #fd749b;
  transition: 0.3s;
  justify-content: center;
  width: 1048px;
}
@media (max-width: 1196px) {
  .card_1 {
    padding: 4em;
    width: 700px;
  }
}
.card_1:hover {
  transform: scale(1.05);
  /* box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25); */
}
.about_coinbase_image {
  align-self: center;
}
.about_coinbase_image img {
  display: block;
  margin: auto;
}
.about_coinbase_content {
  justify-content: center;
  padding: 1em;
}
.about_coinbase_msg {
  text-align: center;
}
.about_coinbase_heading {
  margin-top: 1em;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  background: -webkit-linear-gradient(
    179.43deg,
    #fd749b -13.56%,
    #281ac8 158.3%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_coinbase_heading .img_heading {
  margin-top: 0;
}
.about_coinbase_icons {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.about_coinbase_icons .icon {
  padding-right: 1.5em;
}
@media (max-width: 1196px) {
  .card_1 {
    padding: 4em;
    width: 700px;
  }
}
/* END OF ABOUT COINBASE COLUMN*/

/* OUR HISTORY SECTION */

.our-history {
  text-align: center;
  display: flex;
  padding: 5rem;
  flex-direction: column;
  position: relative;
}
.our-history h3 {
  font-style: normal;
  color: #fd749b;
  font-weight: bold;
  font-size: 28px;
  line-height: 65px;
  margin-bottom: 0;
  color: linear-gradient(179.26deg, #fd749b -13.56%, #281ac8 158.3%);
}
.our-history div {
  width: 26.125rem;
  height: 13.1875rem;
}
.our-history > div:nth-child(3) {
  justify-content: flex-start;
  margin-top: 3.5rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
}
.our-history > div:nth-child(4) {
  justify-content: flex-end;
  align-self: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}
.our-history > div:nth-child(5) {
  justify-content: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
}
.our-history .tree {
  position: absolute;
  align-self: center;
  margin-top: 10rem;
  height: 635px;
}
@media (min-width: 1400px) {
  .our-history {
    padding: 0 14rem;
  }
}
/* END OF OUR HISTORY COLUMN */
/* team section */

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 91px 0;
}
.section__heading,
.section__paragraph {
  font-family: var(--font);
  font-style: normal;
}

.section__heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 65px;
  /* for the color gradient on the heading */
  background: -webkit-linear-gradient(
    179.43deg,
    #fd749b -13.56%,
    #281ac8 158.3%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section__heading::after {
  content: '';
  display: block;
  width: 50px;
  height: 8px;
  border-radius: 5px;
  background-color: #fd749b;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 21px;
}
.section__paragraph {
  font-weight: normal;
  font-size: 1rem;
  line-height: 250%;
  text-align: center;
  margin-bottom: 61px;
}

.newsletter__rectangles {
  position: relative;
  width: 1500px;
  height: 299px;
  display: flex;
  align-items: center;
}
.newsletter__rectangles-element {
  position: absolute;
  background-color: #c4c4c4;
  border-radius: 15px;
}
.newsletter__rectangles-element:nth-child(1),
.newsletter__rectangles-element:nth-child(5) {
  width: 299px;
  height: 185px;
}
.newsletter__rectangles-element:nth-child(2),
.newsletter__rectangles-element:nth-child(4) {
  width: 299px;
  height: 233px;
}
.newsletter__rectangles-element:nth-child(3) {
  height: 299px;
  width: 285px;
}
.first {
  left: 163px;
}
.fifth {
  left: 1028px;
  z-index: -1;
}
.second {
  left: 347px;
}
.third {
  left: 601px;
  background: linear-gradient(178.26deg, #f3b4c6 -13.56%, #666196 158.3%);
  z-index: 2;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  color: white;
}
.fourth {
  left: 855px;
  z-index: 1;
}
.second,
.fourth,
.third {
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1229px) {
  .newsletter__rectangles {
    transform: scale(0.8);
  }
}
/* end of team section-------------------------------------------------- */

/* subscription section */
.section__form {
  display: flex;
}
input.section-input {
  width: 388px;
  height: 54px;
  border-radius: 100px;
  padding: 17px;
  border: 2px solid salmon;
}
.section-button,
.section-input {
  border: none;
  font: var(--font);
}
.section-input:focus {
  outline: none;
}
/* ----------------------------------------------------------------------- */
/*FOOTER SECTION*/
footer {
  width: 100%;
  margin-top: 4.5rem;
  background-color: black;
  z-index: 0 !important;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding-top: 4%;
  padding-bottom: 4%;
}

.footer-logo {
  display: block;
}

.footer-logo div {
  color: white;
}

.bfooter {
  position: relative;
  left: 0.7rem;
  bottom: 1.2rem;
}

.footerlgtxt {
  position: relative;
  left: 1rem;
  bottom: 1rem;
}

.coinbaselinks {
  display: flex;
  justify-content: space-between;
}

.coinbaselinks div {
  padding: 0 0 0 6%;
}

.coinbaselinks .linkbox-1 {
  margin-right: 5rem;
}

.coinbaselinks div ul li,
a {
  list-style: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: #ffffff;
}

.coinbaselinks a {
  text-decoration: none;
  color: #a2a2a2;
  font-size: 18px;
  line-height: 30px;
}

.boxes {
  display: flex;
  flex-direction: column;
}

.boxes .block1,
.block2 {
  display: flex;
  flex-direction: row;
}

.boxes .block1 div,
.block2 div {
  padding: 1%;
}
